/src/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.key
.babelrc
.esdoc.json
.eslintrc
.eslintrcBACK
.npmignore
.nyc_output/
.travis.yml
package-lock.json
*.csv
*.md
/coverage/
/docs/
/test/
*.zip
/examples/
/shops/
/csv/
/test/
